/* ===== SIDEBAR RESPONSIVE LAYOUT FIX ===== */

/* DEFAULT */
.main-content {
  margin-left: 270px !important;
  transition: 0.3s ease;
  width: calc(100% + 30px);
  margin-top: 70px;
}

.main-system-header {
  width: calc(100% - 270px);
  
}

/* COLLAPSED STATE */
body.sidebar-collapsed .main-content {
  margin-left: 80px !important;
}

body.sidebar-collapsed .main-system-header {
  width: calc(100% - 80px);
}
